:root {
  --color-primary: #252924;
  --color-primary-light: #131712;

  --color-white: #ffffff;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-medium-2: 43.75em; //700px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 37.5%; // 1rem = 6px, 6/16 = 37.5%
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 31.25%; // 1rem = 4px, 4/16 = 31.25%
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
  background-image: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-primary-light)
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}
