.hero {
  height: 93vh;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  background-image: url(../img/header-img.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: $bp-small) {
    height: 70vh;
  }

  &-content {
    width: 40%;
    height: 50rem;
    background-image: url(../img/header-banner.png);
    background-position: left center;
    background-size: 80%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 5rem;

    @media only screen and (max-width: $bp-largest) {
      width: 60%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 80%;
    }

    &-heading {
      font-size: 5rem;
    }
  }
}

.intro {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &-content {
    height: 20rem;
    width: 35%;
    background-image: url(../img/Corona-virus.png);
    background-position: top right;
    background-size: 40%;
    background-repeat: no-repeat;
    padding-top: 10rem;

    @media only screen and (max-width: $bp-largest) {
      width: 50%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 80%;
    }

    &-heading {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  &-sub-heading {
    padding-top: 10rem;
    font-size: 3rem;
    word-spacing: 1rem;
    letter-spacing: 0.3rem;
    font-style: italic;

    @media only screen and (max-width: $bp-small) {
      font-size: 2.5rem;
      text-align: center;
    }
  }
}

.main {
  display: flex;
  padding: 10rem;

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  &-contents {
    flex: 0 0 50%;

    @media only screen and (max-width: $bp-medium-2) {
      flex: 0 0 90%;
      background-image: url(../img/Stack.png);
      background-size: 30%;
      background-repeat: no-repeat;
      background-position: top right;
    }

    @media only screen and (max-width: $bp-small) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &-content-1,
  &-content-2,
  &-content-3 {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &-image {
    flex: 0 0 50%;
    background-image: url(../img/Stack.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0.2;

    @media only screen and (max-width: $bp-medium-2) {
      display: none;
      visibility: hidden;
    }
  }

  &-content-heading {
    font-size: 2.5rem;
    padding-bottom: 1rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 3rem;
    }
  }

  &-content-sub-heading {
    font-size: 1.8rem;
    padding-bottom: 1rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 2.5rem;
    }
  }

  &-content-para {
    font-size: 1.5rem;
    padding-bottom: 4rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 2.2rem;
    }
  }
}

.btn-link:link,
.btn-link:active {
  text-decoration: none;
}

.btn-link {
  color: white;
  font-size: 1.5rem;
  padding: 0.8rem 1.5rem;
  border: 2px solid #fff;
  display: flex;
  max-width: 30%;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    max-width: 40%;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &-input {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;
    }
  }

  .input {
    background: none;
    display: flex;
    flex: 0 0 48%;
    padding: 1rem;
    border: none;
    border: 3px solid #fff;
    margin-bottom: 2rem;
  }

  .submit-btn {
    flex: 0 0 30%;
    max-width: 30%;
    background: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    border: 3px solid #fff;

    @media only screen and (max-width: $bp-smallest) {
      max-width: 40%;
    }
  }
}
