.hero {
  height: 93vh;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  background-image: url(../img/header-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &-content {
    width: 40%;
    height: 50rem;
    background-image: url(../img/header-banner.png);
    background-position: left center;
    background-size: 80%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 5rem;

    &-heading {
      font-size: 5rem;
    }
  }
}

.intro {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &-content {
    height: 20rem;
    width: 35%;
    background-image: url(../img/Corona-virus.png);
    background-position: top right;
    background-size: 40%;
    background-repeat: no-repeat;
    padding-top: 10rem;

    &-heading {
      font-size: 2.5rem;
      text-align: center;
    }
  }

  &-sub-heading {
    padding-top: 10rem;
    font-size: 3rem;
    word-spacing: 1rem;
    letter-spacing: 0.3rem;
    font-style: italic;
  }
}

.main {
  display: flex;
  padding: 10rem;

  &-contents {
    flex: 0 0 50%;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &-content-1,
  &-content-2,
  &-content-3 {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &-image {
    flex: 0 0 50%;
    background-image: url(../img/Stack.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0.2;
  }

  &-content-heading {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  &-content-sub-heading {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }

  &-content-para {
    font-size: 1.5rem;
    padding-bottom: 4rem;
  }
}

.btn-link:link,
.btn-link:active {
  text-decoration: none;
}

.btn-link {
  color: white;
  font-size: 1.5rem;
  padding: 0.8rem 1.5rem;
  border: 2px solid #fff;
  display: flex;
  max-width: 30%;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;

  &-input {
    display: flex;
    justify-content: space-between;
  }

  .input {
    background: none;
    display: flex;
    flex: 0 0 48%;
    padding: 1rem;
    border: none;
    border: 3px solid #fff;
    margin-bottom: 2rem;
  }

  .submit-btn {
    flex: 0 0 30%;
    max-width: 30%;
    background: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    border: 3px solid #fff;
  }
}
