.header {
  height: 7vh;
  width: 100%;
  background-color: #131712;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 5rem 0 8rem;

  &-heading {
    font-size: 2.5rem;
  }

  #menu-icon {
    font-size: 2.5rem;
    color: #eee;
    align-items: center;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &-heading {
    font-size: 2.5rem;
    word-spacing: 1rem;
    letter-spacing: 0.3rem;
  }
}

.copyright {
  font-size: 1.3rem;
}

footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-instagram,
footer #social-media-footer a .fa-twitter,
footer #social-media-footer a .fa-linkedin {
  color: white;
  transition: 0.4s;
}

footer #social-media-footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

footer #social-media-footer ul li {
  font-size: 1.5rem;
  padding: 1rem;
}
